<h1><%= @cocktail.name %></h1>


<h2>Ingredients</h2>



</div>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
