<div class="container">
  <h1><%= @cocktail.name %></h1>

  <div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
    <% @cocktail.ingredients.each do |ingredient| %>
    <li><%=ingredient.name %></li>
    <% end %>
    </ul>
  </div>

  <div class="reviews">
    <h2>Reviews:</h2>
    <ul>
    <% @cocktail.reviews.each do |review| %>
    <li><%=review.rating%> - <%= review.content %></li>
    <% end %>
    </ul>
  </div>

  <div class="dose-form">
    <p>Would you like to modify the ingredients of this cocktail?</p>
    </div>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>

  <div class="review-form">
    <p>What did you think of this cocktail (rate 1-5)?</p>
    </div>
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>

</div>
